.form-cadastro-container {
    margin-left: 70px;
    margin-right: 70px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 20px;

    p {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    .cadastro-input-nome {
        width: 270px;
    }

    .cadastro-descricao {
        display: flex;
        align-items: center;

        textarea {
            width: 250px;
            height: 100px;
        }
    }

    .cadastro-mostrar-image {
        width: 300px;
    }
}