.categories-preview-container {
    background-color: rgb(245, 245, 245);
}

.categories-preview-title {
    margin-left: 50px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 10px;
}