.navigation {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(245, 245, 245);
    padding: 12px;
    -webkit-box-shadow: 5px 5px 12px 0px rgba(255, 170, 80, 1);
    -moz-box-shadow: 5px 5px 12px 0px rgba(255, 170, 80, 1);
    box-shadow: 5px 5px 12px 0px rgba(255, 170, 80, 1);

    .logo-container {
        cursor: pointer;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 30px auto;
        grid-template-areas:
            "logo celebrar"
            "logo casa";

        .logo {
            width: 50px;
            padding: 5px;
            grid-area: logo;
        }

        .celebrar-title {
            font-family: "Rouge Script", cursive;
            font-weight: 800;
            font-style: normal;
            font-size: 28px;
            grid-area: celebrar;
        }

        .celebrar-subtitle {
            font-size: 12px;
            grid-area: casa;
        }
    }

    .nav-search {
        width: 350px;
        padding: 2px;
        background-color: white;
        border: 1px #47515b solid;
        border-radius: 10px;
        display: flex;
        justify-content: center;

        .nav-search-text {
            width: 300px;
            border: none;            
        }

        input::placeholder {
            color: lightgray;
          }

        .nav-icon-search {
            width: 25px;
            cursor: pointer;
        }
    }

    .icon-container {
        cursor: pointer;
        width: 100px;
        display: flex;
        align-items: center;
        gap: 10px;

        .nav-icon {
            width: 25px;
        }

        .nav-link {
            cursor: pointer;
            font-weight: 600;
            width: 100px;
        }
    }


}