.cart-dropdown-container {
    position: fixed;
    top: 74px;
    right: 0;
    z-index: 5;
    width: 450px;
    height: auto;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: white;
    border: 2px solid lightgray;
    justify-content: space-between;
    text-align: center;

    .cart-dropdown-title {
        padding: 10px;
        margin-left: 25px;
        margin-right: 25px;
        font-weight: 600;
        border-bottom: 1px solid lightgray;
    }

    .cart-dropdown-subtitle {
        display: flex;
        width: 100%;
        padding: 5px 10px 0 10px;
        font-size: 15px;

        .cart-dropdown-produto {
            width: 46%;
        }

        .cart-dropdown-valor {
            width: 36%;
        }

        .cart-dropdown-total {
            width: 18%;
        }
    }

    button {
        width: 400px;
        margin: 0 25px 10px 25px;
    }

}