.category-preview-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0 50px 0 50px;
  background-color: white;

  .category-preview-title {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}