.nav-search {
    width: 350px;
    padding: 2px;
    background-color: white;
    border: 1px #47515b solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;

    .search-text {
        width: 300px;
        border: none;
    }

    input::placeholder {
        color: lightgray;
    }

    .search-icon {
        width: 25px;
    }

    .search-results {
        font-size: 13px;
        padding-top: 5px;
    }
}