.nav-search {
    width: 350px;
    background-color: white;
    border: 1px #47515b solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;

    .search-container {
        height: 30px;
        display: flex;
        align-items: center;

        .search-text {
            width: 300px;
            border: none;
        }

        input::placeholder {
            color: lightgray;
        }

        .search-icon {
            width: 25px;
        }
    }

    .search-results {
        width: 325px;
        font-size: 12px;
  
        position: absolute;
        margin-top: 1px;
        background-color: white;
    }
}