.form-input-container {
    display: flex;
    justify-content: center;
    width: 350px;
    line-height: 25px;

    .form-input-props {
        width: 290px;
        border: 1px solid #47515b;
        border-radius: 10px;
        padding: 2px;
        height: 30px;
        margin-bottom: 8px;
        margin-left: 8px;
        padding-left: 10px;
    }

    input::placeholder {
        color: lightgray;
    }
}